.normal {
}

.title {
  background: rgb(255, 119, 101);
}

.titleTextFormat {
  text-align: center;
  word-break: keep-all;
  white-space: pre-wrap;
  font-size: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.dividerTitle {
  background: rgb(255, 119, 101);
  width: 100%;
  height: auto;
  color: white;
  font-size: 16px;
  padding-left: 10px;
  padding-bottom: 2px;
  padding-top: 2px;
  margin-top: 12px;
  margin-bottom: 12px;
}
