.normal {
}

.title {
  background: rgb(255, 119, 101);
}

.textAutoBreak {
  width: 110%;
  height: auto;
  overflow: scroll;
  text-overflow: ellipsis;
  word-wrap: break-word;
  word-break: keep-all;
  white-space: pre-wrap;
}
